@font-face {
    font-family: 'FZSJ-ZHUZAYTE';
    src: url('https://ghp.ci/https://github.com/LovesAsuna/BlogCDN/blob/main/fonts/FZSJ-ZHUZAYTE.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

